.nav-link:hover{
    color: red;
    
}
.nav-link{
    color: black;
    font-weight: bold;
}
.bg-image{
    background-image: url(../assets/hero-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
position: relative;
z-index: 1;
}
.fs-100{font-size: 100px;}
.mt-150{margin-top: 150px;}
.mt-100{margin-top: 100px;}
.pt-150{padding-top: 150px;}
.fs-50{font-size: 50px;}
.mb-150{margin-bottom: 150px;}

.bg-image::after{
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgb(0 0 0 / 65%);
    position: absolute;
    z-index: -1;
}

.brands:hover{
    filter: grayscale(0);
    opacity: 1;
}
.container{
    margin: 0 auto;
    padding: 0 15px;
    width: 90%;
}
.pic1{
    width: 16.66%;
    flex: 0 0 auto;
    padding: 0 15px;
}
.pic1, .brands{
    width: 150px;
    padding: 10px;
    filter: grayscale(1);
    opacity: 0.6;
    transition: all 0.3s;
}

@media (min-width: 320px) and (max-width: 767px) {
    .hide {
        display: none;
    }
}
@media (min-width: 768px) and (max-width: 999px) {
    .hide1 {
        display: none;
    }
}
#sec3, #sec7, #sec10, #sec12 {
    background-color: rgb(27, 27, 27);
    padding: 75px 0;
    transform: skewy(-3deg);
    margin-top: 35px;
    color: #ffffff;
}
.slanding{
    transform: skewy(3deg);
}
#sec3 .text1 h3{
    font-family: 'Raleway', sans-serif;
    font-size: 34px;
    font-weight: 700;
    color: white;
}
#sec3 .text1 a {
    margin-top: 50px;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    border: 2px solid #e03a3c;
    border-radius: 40px;
    padding: 9px 28px;
    display: inline-flex;
    align-items: center;
    transition: 0.3s;
}
@media (min-width: 320px) and (max-width: 767px) {
    #sec3 {
        text-align: center;
    }
}
.text2, .text3{
    color: #ffffff;
}
.box i{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    font-size: 24px;
    color: #e03a3c;
    background-color: #ffffff;
    position: absolute;
    top: -25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.box{
    width: auto;
    background-color: #ffffff;
    text-align: center;
    padding: 30px;
    font-family: 'Open Sans', sans-serif;
    line-height: 35px;
    position: relative;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.box1{
    border: 1px solid grey;

}
.box1:hover{
    color: #e03a3c;
}
/* #sec7{
    transform: skewY(-3deg);
    background-color: black;
} */
.br{
    font-size: 50px;
    font-weight: 700;
   
}
.brdr{
    border: 2px solid rgba(0, 0, 0, 0.612);
    padding: 20px;
}
h3:hover{
text-decoration: underline;
}
button{
    border: none;
    background-color: #fff;
    font-weight: 500;
}
button:hover{
    background-color: red;
    color: #ffffff;
    font-weight: 500;
}
.secc8{
    margin-top: 100px;
    text-align: center;
}
.border2{
    padding: 30px;
    box-shadow: 0px 0px 25px gainsboro ;
    margin-top: 50px;
}
.image_br{
    width:100px;
    padding-top: 10px;
}
.pribr{
    padding: 30px;
    box-shadow: 0px 0px 5px  ;
    margin-top: 50px;
    background-color: rgb(188, 182, 182);
    text-align: center;
    color: #fff ;
    
}
.pribr1{
    padding: 30px;
    box-shadow: 0px 0px 5px  ;
    margin-top: 50px;
    background-color: rgb(243, 40, 40);
    text-align: center;
    color: #fff ;
    
}
.btn:hover{
border: 2px solid white;
}
.borderacc{
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    color: rgb(131, 120, 120);
}
.borderacc:hover{
    color: #e03a3c;
}
.border4{
    padding: 30px;
    box-shadow: 0px 0px 25px gainsboro ;
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: grey;
}
.p-100{padding: 100px;}
.border5{
    padding: 30px;
    box-shadow: 0px 0px 25px gainsboro ;
    margin-top: 50px;
    text-align: center;
    font-size: 15px;
}
#sec14{
    background-color: black;
    color: #fff;
    margin-top: 100px;
    padding: 50px;
}
.hov{
    color: grey;
}
.hov:hover{
    color: white;
}
.btns{
    padding: px;
}
@media (min-width: 320px) and (max-width: 767px) {
   #sec14{
    text-align: start;
   }
}
.msg{
    height: 220px;
    text-align: left;
    padding-bottom: 180px;
}

.point{
    cursor: no-drop !important;
}
.accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E");
  }

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");
  }
  .accordion-button::after {
    transition: all 0.5s;
  }
 
@media (max-width:568px) {
    .pr1{
        font-size: 30px;
    }
}

    @media (max-width:568px) {
        .pr2{
            font-size: 20px !important;
        }
    
}
@media (max-width:568px) {
    .box{
        margin-top: 40px;
    }
}
@media (max-width:568px) {
    .secc8{
        margin-top: 20px;
    }
}
@media (max-width:568px) {
    .border4{
        font-size: 13px;
    }
}
